/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-white-ish: rgba(255.0, 255.0, 255.0, 0.9);
	-black-ish: rgba(0.0, 0.0, 0.0, 0.8);
}

#application-area{
	-fx-arc-width: 25.0;
	-fx-arc-height: 25.0;
	-fx-fill: -black-ish;
	-fx-stroke-width: 0.2ex;
	-fx-stroke: -white-ish;
}