
.root{
	-white-ish: rgba(255.0, 255.0, 255.0, 1.0);
	-black-ish: rgba(0.0, 0.0, 0.0, 0.8);
	-bg-blue: linear-gradient(to bottom, rgba(1.0, 168.0, 253.0, 90.0), rgba(9.0, 53.0, 97.0, 90.0));
}

#application-area{
	-fx-arc-width: 30.0;
	-fx-arc-height: 30.0;
	-fx-fill: -black-ish;
	-fx-stroke-width: 0.2ex;
}

/* MENU-BAR CONFIGURAÇÕES */

.menu-bar{
	-fx-background-radius: 25.0;
	-fx-background-color:-black-ish;
	-fx-font-family: 'Cascadia Code';
	-fx-font-weight: bold;
	
}

.menu-bar .menu {
    -fx-background-color: transparent;
    -fx-background-radius: 5.0;
    -fx-padding: 0.0 1.0cm 6.0px 3.0;
    -fx-alignment: center-right;
    -fx-translate-y: 5.0px;
    -fx-translate-x: 2.0px;
}

.menu .label{
	-fx-text-fill: white;
}



.menu .label {
	-fx-text-fill: white;
	
}

.menu-bar .menu:hover {
    -fx-text-fill: white;
    
}

.menu-bar .menu-item {
	-fx-background-color: black;
	-fx-alignment: center;
	-fx-text-fill: -cinza;
	-fx-padding: 2.0px;
}

.menu-bar .menu-item:hover {
	-fx-background-color: rgba(0.12, 0.12, 0.13, 0.8);
}

.menu-item .container {
    -fx-background-color: black;
}

.list-view .scroll-bar {
    -fx-background-color: black; 
}

.list-view .scroll-bar .thumb {
	-fx-background-color: #3D3E40;
}

.list-view .scroll-bar .track {
	-fx-background-color: transparent;
}

/* SLIDER CONFIGURAÇÕES */

.jfx-slider > .thumb {
     -fx-background-color: transparent;
     -fx-padding: 0.0px;
}

.jfx-slider > .animated-thumb {
     -fx-background-color: transparent;
}

.jfx-slider > .track {
     -fx-background-color: #1e1e20;
}

.jfx-slider > .colored-track {
     -fx-background-color: linear-gradient(to right, #858585, #FFFFFF);
}
